html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 2em;
}

fieldset{
  padding: 1em 0;
  border: none;
}

.root{
  margin-bottom: 2em;
}