.auth {
    min-width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}
.auth a{
    padding: 1em;
    font-weight: bolder;
}

.auth a.active{
   color: orange;
}

.Greeting{
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}