.Aside{
    width: 15em;
    flex: 0 0 15em;
    display: flex;
    flex-direction: column;
    border-right: solid 1px grey;
}

.Aside>a{
    display: block;
    color: black;
    width: 100%;
    padding: 1em;
    margin:1em auto;
    text-align: center;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.Aside>a:hover, .Aside>a.active{
    cursor: pointer;
    font-weight: bolder;
    background-color: rgba(128, 128, 128, 0.493);
    color:white;
}

@media (max-width: 945px){
    .Aside{
       display: block;
       width: 100vw;
       border-right: none;
       border-bottom: solid 1px black;
       height: initial;
   }
  }