
.Register{
    flex: 1 1 40em;
    justify-self: center;
    margin: 3em 5rem;
    padding: 2em 3em;
    box-shadow: 0 0 2em rgba(128, 128, 128, 0.61);
    max-height: 35em;
    min-height: max-content;
}

.Register label{
    font-size: larger;
}

.Register input{
    display: block;
    width: 100%;
    margin-top: 1em;
    border: none;
    border-bottom: solid 2px grey;
    font-size: 1rem;
    padding: 0.5em;
}

.Register legend{
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.Register button{
    margin-top: 2em;
    width: 100%;
    border-radius: 0;
    background-color: rgba(128, 128, 128, 0.562);
    padding: 0.7em;
    color: white;
    border: none;
    font-size: 1.1rem;
}

.Register button:hover{
    cursor: pointer;
    font-weight: bolder;
}


@media (min-width: 950px){
    .Register {
        max-width: 45em;
        margin: 4em auto;
    }
}
