img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.card {
    margin:2em 1em;
    flex: 0 1 20em;
    box-shadow: 5px 5px 1em 0.5em rgba(0, 0, 0, 0.315);
    padding: 1em;
    border: solid 1px transparent;
  
}
.card:hover{
    cursor:pointer;
    box-sizing: border-box;
    border: solid 1px black;
}

.image-holder {
    display: block;
    height: 12em;
    margin: 1em;
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5em;
}